/* ========================================================================================================================================================= */
/*Über Uns*/

.page-about-image-cover {
  width: 100%;
}

.page-border-box-about {
  border: 1px solid #00000030;
  height: 100%;
}

.page-about-position-description {
  margin: 10px 5px;
}

.page-layout-about-description {
  margin: 46px 50px;
  max-width: 100%;
  font-size: 16px;
  letter-spacing: 2px;
}

@media screen and (max-width: 1200px) {
  .page-layout-about-description {
    margin: 5px 10px;
  }
}

.give-me-more {
  color: $primary-color;
  font-weight: bold;
}

.erfahre-mehr-btn {
  position: relative;
  top: -40px;
  left: 910px;
  width: 123px;
  font-size: 18px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.erfahre-mehr-btn:hover {
  opacity: 0.7;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  cursor: pointer;
}

.plus-icon,
.plus-icon-clicked {
  /* Outer div of the Cross */
  position: absolute;
  left: 112px;
  top: -14px;
  width: 50px;
  height: 50px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.plus-icon:before,
.plus-icon:after,
.plus-icon-clicked:before,
.plus-icon-clicked:after {
  /* Positioning from the cross */
  position: absolute;
  left: 23px;
  top: 4px;
  content: ' ';
  height: 18px;
  width: 4px;
  background-color: $primary-color;
}

.plus-icon:before {
  /* Angle from the cross */
  -webkit-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.plus-icon:after {
  /* Angle from the cross */
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.page-layout-company-description {
  margin: 0 40px;
  font-size: 19px;
  letter-spacing: 2px;
  display: block;
}

.page-layout-company-description-hidden {
  margin: 5px 10px;
  font-size: 19px;
  letter-spacing: 2px;
  display: none;
}

.learn-more-box {
  display: none;
}

.flex-caption-about {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: auto;
  padding: 2%;
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  font-size: 24px;
  line-height: 18px;
  text-align: center;
}

.slide-caption-about {
  position: relative;
  top: 0;
  right: 0;
  background-color: #00000025;
  padding: 10px 0px;
}

/*
=============================================================================
* .plus-icon after it got clicked / changes from plus to minus with spins
=============================================================================
*/

/* positioning at .plus-icon, and plus-icon:before, .plus-icon:after */

.plus-icon-clicked:before {
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
}

.plus-icon-clicked:after {
  -webkit-transform: rotate(-450deg);
  transform: rotate(-450deg);
  -webkit-transform-origin: center center;
  transform-origin: center center;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

@media screen and (max-width: 1199px) {
  .info-contact {
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
  }

  .page-layout-company-description {
    margin-left: 10px;
  }
}

.more-box {
  width: inherit;
  height: 50px;
  background: $primary-color;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
}

.more-content-mobile {
  display: none;
}

.erfahre-mehr-mobile {
  align-items: center;
  width: inherit;
  height: 50px;
  background: $primary-color;
  color: #fff;
  display: flex;
  justify-items: center;
  justify-content: center;
  font-weight: bold;
  margin-bottom: 20px;
  cursor: pointer;
}
