/* ========================================================================================================================================================= */
/*Bikes*/

.page-hr-bikes {
    border-top: 1px solid #00000035;
    margin: 50px 0;
}

.slides.slides-bikes ~ .flex-direction-nav { /* If the div got the two classes .slides and .slides-bikes THEN do for the class .flex.direction-nav, display: none; */
    display:  none;
}

.flex-caption-bikes {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 50%;
    height: auto;
    padding: 2%;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 23px;
}

.page-overlay-bikes {
    position: relative;
    top: 150px;
    width: 900px;
    height: auto;
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
}

.page-layout-bike-informations-mobile {
    margin: 0 5px;
    padding: 20px 10px 10px 40px;
    background: #f1f1f1;
    color: #000;
    text-shadow: 1px 1px 0 #fff;
}

.price-mobile {
    display: flex;
    justify-content: space-between;
}

.price-string-mobile {
    font-size: 1.3em;
    flex-grow: 1;
}

.price-integer-mobile {
    font-size: 2em;
    flex-grow: 2;
}

@media screen and (max-width: 460px) {
    .flex-control-nav {
        display: none;
    }
}


//price container - caption bike shop (pages-bike-store.php) 
.price {
    display: flex;
    position: absolute;
    bottom: 2em;
    left: 0;
    width: 100%;
}

.price-string {
    font-size: 1.5em;
    margin-left: .5em;
    margin-bottom: 0px;   
}

.price-integer {
    font-size: 4.5em !important;
    padding-left: .8 em !important;
    margin: 0 10px 0 auto;
}


