/* ========================================================================================================================================================= */
/*Kontakt*/

.info-contact {
    margin-bottom: 50px;
}

.page-border-info-box-contact { /* Info box with border, to look better and fix height */
    border: 1px solid #00000030;
    height: 467px;
}

.page-border-info-box-business-hours { /* Bottom field, needs unique height, so the text can fit properly*/
    border: 1px solid #00000030;
}

.heading-contact {
    text-decoration: underline;
    margin-top: 50px;
    margin-bottom: 40px;
}

.info-text-contact {
    margin-top: 90px;
    margin-bottom: 10px;
}

.info-text-business-hours-left-contact,         /* Align text in the center */
.info-text-business-hours-right-contact,
.info-text-business-hours-right-contact-winter {
    display: inline-block;
    clear: both;
    position: relative;
    padding: 0 40px;
}

@media screen and (max-width: 1199px) {

    .info-text-business-hours-left-contact,         /* Align text in the center */
    .info-text-business-hours-right-contact,
    .info-text-business-hours-right-contact-winter {
        display: inline-block;
        clear: both;
        position: relative;
        padding: 0 0;
    }
}

.info-text-business-hours-left-contact {            /* Separate parts with individual distance to other text */
    margin-left: 70px;
}



@media screen and (max-width: 1199px) {
    .info-text-business-hours-left-contact {            /* Separate parts with individual distance to other text */
        margin-left: 10px;
        padding: 10px;
    }
}

@media screen and (min-width: 500px) {
    .info-text-business-hours-left-contact {
        padding-left: 70px !important;
    }
}



.info-text-business-hours-right-contact {           /* Separate parts with individual distance to other text */
    margin-left: 10px; 
}

@media screen and (max-width: 1199px) {
    .info-text-business-hours-left-contact {            /* Separate parts with individual distance to other text */
        margin-left: 10px;
        padding: 10px;
    }
}

.info-text-business-hours-right-contact-winter {    /* Separate parts with individual distance to other text */
    margin-left: 86px; 
}

.page-border-info-box-parent {
    width: 350px;
}

@media screen and (max-width: 1199px) {
    .page-border-info-box-parent {            /* Separate parts with individual distance to other text */
        width: 100%;
        margin-top: 3em;
        border-top: 1px solid #00000030;
    }
}

.page-border-info-box-business-hours-info-box {
    border: 1px solid #00000030;
    width: inherit;
    border-top: 0px;
}

.page-layout-info-box-contact-top,
.page-layout-info-box-contact-bottom {
    margin: 0 15px;
    padding-top: 2px;
}

.page-layout-info-box-contact-top {
    font-size: 1.2em;
}

.page-layout-info-box-contact-bottom {
    font-size: .8em;
}

@media screen and (max-width: 1199px) {

    .container-contact-mobile .info-contact {
        max-width: 100% !important;
    }

    .container-contact-mobile .info-contact h1 {
      font-size: 2.5rem;  
    }
}
