/* ========================================================================================================================================================= */
/*Footer*/

.site-hr-footer {
  border-top: 1px solid #00000035;
  margin: 50px 0;
}

.site-footer {
  background-color: $primary-color;
  height: auto;
  color: white;
}

.site-layout-footer {
  padding: 20px 0;
  height: auto;
}

.footer-link {
  text-decoration: none;
  transition: 0.8s;
}

.footer-link:hover {
  color: #2e0000;
  transition: 0.5s;
}

footer {
  clear: both;
}
