/* ========================================================================================================================================================= */
/*Front-Page*/
.site-center {
  /* Align the main heading in the center of the page */
  text-align: center;
}

.site-padding-top {
  /* Set the distance from the heading to the headimage and to the main content */
  padding-top: 50px;
  padding-bottom: 50px;
}

.page-image-top-layer {
  position: relative;
  top: 0;
  left: 0;
}

.show-me-on-desktop {
  display: block;
}

.show-me-on-mobile {
  display: none;
}

@media screen and (max-width: 1199px) {
  .container-images {
    text-align: center;
  }

  .page-image-top-layer {
    position: relative;
    margin: 0 auto;
    left: 0;
    right: 0;
    margin-bottom: 20px;
  }

  .page-image-bottom-layer {
    display: none;
  }

  .show-me-on-desktop {
    display: none;
  }

  .show-me-on-mobile {
    display: block;
  }

  .site-container {
    max-width: 548px;
    margin: 0 auto;
  }

  img {
    width: 80%;
  }

  .row {
    margin: 0;
  }

  .page-text-field-layout-home {
    text-align: left;
  }

  .site-main-underline {
    width: 98%;
  }

  .site-hr-footer {
    display: none;
  }

  .site-footer {
    margin-top: 30px;
  }
}

@media screen and (max-width: 600px) {
  .col-xl-6 {
    padding: auto 0;
    width: 100%;
  }
}

.page-image-bottom-layer {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-transition: 0.8s ease-in-out;
  transition: all 0.8s ease-in-out; /* set transition with the same value at two points (.example AND .example:hover) then it will animate in AND out */
  padding-left: 15px;
}

.page-image-bottom-layer:hover {
  opacity: 1;
}

.page-sub-heading-home {
  color: $primary-color;
  font-weight: 800;
  font-size: 2.1rem;
  text-decoration: none;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.page-text-field-layout-home {
  margin: 50px auto 0 30px;
  max-width: 100%;
}

// info box about main content - need to be filled with content
.container-news {
  display: none; /* Hidden on purpose for Owner */
  position: absolute;
  top: 104px;
  left: 0;
  right: 0;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 190;
  padding: 10px;
}

@media screen and (max-width: 1870px) {
  .container-news {
    display: none;
  }
}

.sub-container-news {
  max-width: 100%;
  margin: 0 auto;
  background: rgba(250, 250, 250, 0.85);
  box-shadow: 10px 10px 10px #00000080;
  border: 4px solid $primary-color;
  padding: 20px 100px;
}

.container-news h2 {
  display: flex;
  justify-content: center;
  text-decoration: underline;
  color: $primary-color;
  font-size: 2.5em;
  margin-bottom: 0.2em;
}

.topic-description {
  margin-bottom: 0.5em;
}

.news-content .col-1 {
  text-decoration: underline;
}

.participants {
  display: inline-block;
  text-decoration: underline;
  color: #e40000;
  font-size: 1.3em;
  margin: 0.7em 2em;
}

.row-height {
  height: 22px;
}

.padding-null {
  padding: 0;
}

.container-news-mobile {
  display: none;
}

@media screen and (max-width: 1869px) {
  .container-news-mobile {
    display: none; /* Hidden on purpose for Owner */
    background: $primary-color;
    padding-top: 20px;
    padding-bottom: 20px;
    color: #fff;

    .participants {
      color: goldenrod;
    }
  }

  .additional-content-mobile p {
    margin-left: 20px;
  }
}
