/* ========================================================================================================================================================= */
/*Globals*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400, 800;
}

main {
  min-height: 100vh;
}

$primary-color: #d9001a;

/* set custom header image to width maximum (screensize cover) */
.site-header {
  position: relative;
  width: 100%;
  height: auto;
}

.site-main-underline {
  border-top: 1px solid #000;
}

.site-container {
  max-width: 1100px;
  margin: 0 auto;
}

.site-float-left {
  float: left;
}

.site-float-right {
  float: right;
}

.site-margin-bot {
  margin-bottom: 50px;
}

.site-margin-top {
  margin-top: 50px;
}

/*
* Mainly used in 'Projekte' and 'Bike Store'
*/
.site-overlay {
  background-color: rgba(0, 0, 0, 0.9);
  position: fixed;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 220;
  display: none;
}

.page-height-cover {
  min-height: 100vh;
}

.center-heading {
  text-align: center;
}

.justify-content {
  display: flex;
  justify-content: center;
  margin: 10em auto;
}

.justify-content p {
  font-size: 1.5em;
}

//styling for content container in slider-bikes.php
//eliminates default margin bottom from paragraphs inside .slide-caption (slider-bikes.php)
.flex-caption-bikes h2 {
  font-size: 2.6em;
  text-shadow: 1px 1px 0 #000;
}

.flex-caption-bikes p {
  margin-bottom: 0.2em;
  padding-left: 1em;
  font-size: 1.3em;
  text-shadow: 1px 1px 0 #000;
}

#acf-editor-48,
#acf-editor-49 {
  height: 34px !important;
}

@media screen and (max-width: 460px) {
  h1 {
    font-size: 1.5rem;
  }
}
