/* ========================================================================================================================================================= */
/*Head*/
.site-heading {
  position: absolute; /* set object everywhere i want on the page*/
  top: 100px; /* coordinates for the free positionable object*/
  left: 0px;
  width: 100%; /* width:''; is important to use text-align: center;*/
  text-align: center; /* self explaining */
  background-color: #00000010;
  display: none;
}

@media Screen and (min-width: 1300px) {
  .site-heading {
    display: block;
  }
}

@media screen and (max-width: 720px) {
  .container-instagram,
  .container-youtube,
  .container-facebook {
    display: none;
  }
}

a.site-heading {
  text-decoration: none;
  color: #ffffff;
  font-size: 4em;
  text-shadow: 1px 1px 0px #000;
}

.page-shop-container-header {
  height: 123px;
  background-color: $primary-color;
}

.admin-bar {
  .page-shop-container-header {
    height: 132px;
    background-color: $primary-color;
  }
}
