    .image-box-size {
        height: 673px;
        overflow: hidden;
        margin-bottom: 3em;
        display: block;
        transition: .2s ease-in-out;
    }

    .image-box-size:hover {
        opacity: 0.9;
        
    }

    .image-stellenangebot {
        width: 100%;
        margin-bottom: .2em;
    }

    .center-heading a {
        color: #000;
    }

    .hr-sub-heading-jobs {
        border-top: 1px solid black;
        width: 60%;
        padding-bottom: .3em;
    }

    .display-mobile-only {
        display: none;
    }

    .display-desktop-only {
        display: block;
    }


    
    @media Screen and (max-width: 1100px) {

        .display-mobile-only {
            display: block;
        }

        .display-desktop-only {
            display: none;
        }

        .hr-sub-heading-jobs {
            width: 80%;
        }

    }

    

