.content-merch {
    margin-bottom: 50px;
}


.p-else {
    font-size: 2em;
}

.p-else-2 {
    font-size: 1.3em;
}

.page-merch-border-box {
    border: 1px solid #00000030;
    height: 100%;
}

.page-merch-image {
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: .3s;
}

.page-merch-image:hover {
    opacity: .8;
}

.page-product-box-layout {
    margin-bottom: 40px;
}

.page-merch-layout-box {
    width: inherit;
    height: 100%;
    border: 1px solid #00000030 ;
}

@media screen and (max-width: 1199px) {
    .page-merch-layout-box {
        height: auto;
        border: none;
    }
    
}

.page-product-box-layout {

    .col-xl-6:first-child {
        padding-right: 25px;
    }

    .col-xl-6:last-child {
        padding-left: 25px;
    }

    .col-xl-6 .col-xl-6:first-child {
        padding-right: 5px;
    }

    .col-xl-6 .col-xl-6:last-child {
       padding-left: 0;

       .page-merch-layout-box {
           padding: 10px;
           font-size: 1.2em;
           line-height: 1em;
       }
    }

}

@media screen and (max-width: 1199px) {
    .page-product-box-layout {

        .col-xl-6:first-child {
            padding: 0;
        }
    
        .col-xl-6:last-child {
            padding: 0;
        }
    
        .col-xl-6 .col-xl-6:first-child {
                padding: 0;
        }
    
        .col-xl-6 .col-xl-6:last-child {
           padding-left: 0;
    
           .page-merch-layout-box {
               padding: 10px;
               font-size: 1.2em;
               line-height: .3em;
           }
        }
    }
}

.page-merch-layout-box {

    .more-content-mobile {
        display: none;
        width: 100%;
    }

    .more-content-mobile {
        padding: 5px 10px 10px 10px;
        background: lightgrey;
    }

}

.page-product-width {
    width: 70%;
    margin: 0 auto 50px;
}

.light-box {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: 220;
    display: none;

    .pos-img {

            display: flex;
            justify-content: center;

        img {
            position: absolute;
            top: 10%;
            width: 25%;
            border: 2px solid #fff;
        }

        @media screen and (max-width: 1500px) {
            img {
                top: 10%;
                width: 35%;
            }
        }

        @media screen and (max-width: 1200px) {
            img {
                top: 10%;
                width: 50%;
            }
        }

        @media screen and (max-width: 800px) {
            img {
                top: 5%;
                width: 90%;
            }
        }
    }
}

@media screen and (max-height: 500px) {
    .light-box {
        overflow-y: auto;
    }
}

.close {
    position: absolute;
    right: 38%;
    top: calc(5% + 10vh);
    width: 32px;
    height: 32px;
    opacity: 0.3;
    transition: .3s;
  }

  .close:hover {
    opacity: 1;
  }

  .close:before, .close:after {
    position: absolute;
    left: 15px;
    content: '';
    height: 33px;
    width: 2px;
    background-color: #fff;
  }

  .close:before {
    transform: rotate(45deg);
  }

  .close:after {
    transform: rotate(-45deg);
  }

.page-overlay-merch {
    position: relative;
    top: 200px;
    width: 25%;
    height: auto;
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
}

@media screen and (max-width: 1500px) {

    .page-overlay-merch {
        width: 80%;
        top: 100px;
    }
}
