
    .site-nav-footer .menu-item {
        padding: 0;
    }

    .site-nav-footer .menu-item a {
        border: none;
        color: #fff;
    }

    .site-nav-footer .current-menu-item a {
        border: none;
        color: #fff;
 
    }

    .site-nav-footer .menu-item.current_page_item {
            border-bottom: none; 
    }

    .site-nav-footer .menu-item::after {
        content: ' |';
        color: #fff;
    }
