/*
Theme Name: Bellpali
Theme URI: www.bellpali.de
Author: Felix Noack
Description: Bellpali, die Motorradmanufaktur - Basis
Version: 1.0
*/

/* ========================================================================================================================================================= */
/*Navigation*/

#menu-hauptmenue {
  /* text aligning for main navbar, because there is no search bar*/
  text-align: center;
}

#site-nav-main, /* two different navbar id's because main got shown on every site except on the web shop and the sub pages */
#page-nav-web-shop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: rgba(250, 250, 250, 0.85);
  height: auto;
  padding-top: 18px;
  transition: transform 0.25s 0.1s ease-in-out; /* Navbar moves smooth */
  z-index: 200;
}

@media screen and (max-width: 1024px) {
  #site-nav-main {
    display: none;
  }
}

/*
* Nav bar Mobile 
*/

.page-container-header {
  position: relative;
  top: 0;
  left: 0;
}

.container-burger {
  position: absolute;
  top: 0px;
  height: 50px;
  width: 100%;
  background: rgba($color: #000000, $alpha: 0.3);
  z-index: 200;
}

.burger {
  position: absolute;
  top: 14px;
  left: 20px;
  z-index: 210;
  width: 50px;
  height: 50px;
}

.line {
  width: 30px;
  height: 3px;
  background: #fff;
  margin-bottom: 5px;
  box-shadow: 5px 5px 5px #000;
}

.close-btn {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 20px;
  top: 25px;
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

#close-btn:before:hover,
#close-btn:after:hover {
  opacity: 0.5;
}

#close-btn:before,
#close-btn:after {
  content: '';
  position: absolute;
  z-index: -1;
  background: #000;
}

#close-btn:before {
  left: 63%;
  width: 5%;
  margin-left: -15%;
  height: 100%;
}

#close-btn:after {
  top: 63%;
  height: 5%;
  margin-top: -15%;
  width: 100%;
}

#site-nav-main-mobile-hidden, /* two different navbar id's because main got shown on every site except on the web shop and the sub pages */
#page-nav-web-shop-mobile-hidden {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100%;
  background-color: rgba(250, 250, 250, 0.9);
  padding-top: 18px;
  padding-left: 2%;
  transition: 1s all ease-in-out;
  overflow-y: auto;
  z-index: 230;
  top: 15px;
  bottom: 15px;
  width: 70%;
  -webkit-overflow-scrolling: touch;
}

@media screen and (max-width: 550px) {
  #site-nav-main-mobile-hidden {
    width: 90%;
  }
}

@media screen and (min-width: 1024px) {
  #site-nav-main-mobile-hidden {
    width: 50%;
  }
}

.site-nav-main-mobile-hidden {
  left: -200%;
}

@media screen and (max-width: 460px) {
  .site-main-nav-mobile {
    padding-left: 10px;
  }
}

.site-nav-main-mobile {
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 0;
  height: 100vh;
  background-color: rgba(250, 250, 250, 0.95) !important;
  padding-top: 18px;
  z-index: 230;
  width: 60vw;
  padding-left: 10%;
  -webkit-transition: 1s;
  transition: 1s;
  top: 15px;
  left: 15px;
  bottom: 15px;
}

@media screen and (max-width: 500px) {
  .site-nav-main-mobile {
    width: 80vw;
  }
}

.site-nav-main-mobile-shown {
  left: 0 !important;
}

ul.site-main-nav-mobile {
  display: flex;
  flex-direction: column;
}

.site-main-nav-mobile li:first-child {
  padding-top: 0.5em;
}

.site-main-nav-mobile li {
  margin-bottom: 30px;
  border-bottom: none;
  font-size: 1.2em;
}

.site-main-nav-mobile li.menu-item.current_page_item {
  border-bottom: none;
}

.site-main-nav-mobile li.menu-item.current_page_item:hover {
  border-bottom: none;
}

.menu-item {
  transition: none !important;
}

li.menu-item:hover {
  border-bottom: none !important;
  transition: none;
}

.site-nav-layout-background {
  background-color: rgba(100, 100, 100, 0.9);
  position: fixed;
  z-index: 220;
  -webkit-transition: 0.4s all ease-in-out;
  transition: 0.4s all ease-in-out;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-animation: navOpacity1 1s;
  animation: navOpacity1 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.site-nav-layout-background-hidden {
  background-color: rgba(100, 100, 100, 0);
  z-index: 0;
  -webkit-transition: 1s;
  transition: 1s;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  -webkit-animation: nacOpacity 1s;
  animation: nacOpacity 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
}

.site-main-nav-mobile__impressum-datenschutz {
  margin-top: 4em;
}

/*
* End Navigation 
*
*/

#page-nav-web-shop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  background-color: $primary-color;
  height: auto;
  padding-top: 18px;
  transition: transform 0.5s 0.2s ease-in-out; /* Navbar moves smooth */
  z-index: 200;
  border-bottom: 1px solid #fff;
  box-shadow: 0 0 10px #000;
  //transition: 1s;

  a {
    color: #fff;
    transition: 0.7s;
  }
}

// Letting box appear / disappear when scrollpoint is '0' to top
/*
.fixed-top  {
   border-bottom: 1px solid #fff;
  box-shadow: 0 0 10px #000;
   transition: 1s;
}
*/

#scrollTop {
  position: fixed;
  top: 0;
  right: 0;
}

.site-web-shop-nav {
  .menu-item.current_page_item {
    border: none;
  }

  .menu-item.current_page_item a {
    color: #c70000 !important;
  }

  .menu-item:hover {
    border: none;
  }

  .menu-item:hover a {
    color: #c70000 !important;
    transition: 0.5s;
  }
}

#menu-hauptmenue-fuer-webshop {
  li.menu-item {
    padding: 0 1.5rem 0 0;
    border-bottom: none;
  }

  li.menu-item:after {
    content: '';
    border-right: 1px solid white;
    position: relative;
    left: 10px;
  }
}

#menu-shop-navigation-secondary {
  li.menu-item {
    padding: 0 1.2rem 0 0;
    border-bottom: none;
  }

  li.menu-item:after {
    content: '';
    border-right: 1px solid white;
    position: relative;
    left: 10px;
  }

  li.menu-item a {
    color: #fff;
    transition: 0.5s;
  }

  li.menu-item:hover a {
    color: #c70000;
    transition: 0.5s;
  }
}

.down #site-nav-main {
  transform: translate3d(0, -70px, 0); /* Navbar goes 70px over the screen */
}

.down #page-nav-web-shop {
  transform: translate3d(0, -70px, 0); /* Navbar goes 70px over the screen */
}

/* when adminbar is shown, put the navbar 32px lower */
.admin-bar #site-nav-main {
  top: 32px;
}

/* when adminbar is shown, put the navbar 32px lower */
.admin-bar #page-nav-web-shop {
  top: 32px;
}

.menu-item-818,
.menu-item-819 {
  /*  */
  position: relative;
  top: 0;
  right: 0;
  padding-bottom: 15px;
}

.menu-item-818 > .sub-menu,
.menu-item-819 > .sub-menu {
  position: absolute;
  top: 31px;
  right: 0px;
  background-color: rgba(250, 250, 250, 0.9);
  opacity: 0;
  transition: 0.3s;
  padding: 7px 0;
  line-height: 25px;
  display: block;
  max-width: 100%;
}

li.menu-item-818:hover > .sub-menu,
li.menu-item-819:hover > .sub-menu {
  opacity: 1;
  transition: 0.3s;
}

ul.sub-menu {
  padding-left: 0px;
  text-align: center;
}

.sub-menu > .menu-item-819 {
  padding: 0 30px !important;
  margin-bottom: 5px !important;
}

.sub-menu > .menu-item-818 {
  padding: 0 49px !important;
  margin-bottom: 5px !important;
}

.sub-menu > .menu-item a:hover {
  border-bottom: 2px solid$primary-color;
}

.sub-menu > li.menu-item:hover {
  border: none;
}

.current_page_item > .sub-menu > .menu-item a {
  color: #000 !important;
  transition: 10s;
}

.current_page_item > .sub-menu > .menu-item a:hover {
  color: $primary-color;
  transition: 10s;
}

/* with the following two code parts you are able to <s>center</s> a navbar horizontically ----------------- */
ul.menu-item {
  text-align: left;
  margin-bottom: 0px;
  width: 100%;
}

ul li.menu-item {
  display: inline-block;
  padding: 0 40px;
}

@media screen and (max-width: 1400px) {
  ul li.menu-item {
    padding: 0 16px;
  }
}

/*----------------------------------------------------------------------------------------------------------*/

/*shows the actual site, you are currently staying, at the navbar - css only */
.menu-item.current_page_item {
  border-bottom: solid 3px$primary-color;
}

/*shows the actual site, you are currently staying, at the navbar - css only */
.current_page_item.menu-item a {
  color: $primary-color;
}

/*pseudo border-bottom for :hover effect*/
li.menu-item a {
  color: #000;
  text-decoration: none;
  font-size: 1.2em;
  border-bottom: 1px solid transparent;
}

/*pseudo border-bottom for :hover effect*/
li.menu-item {
  display: block;
  content: '';
  text-decoration: none;
  border-bottom: 1px solid transparent;
  transition: 0.3s;
}

li.menu-item:hover {
  border-bottom: solid 3px$primary-color;
  transition: 0.3s;
}

.menu-item a:hover {
  color: $primary-color;
  transition: 0.3s;
}

/* Overwrite from bootstrap*/

.sticky-top {
  z-index: 100 !important;
}
