/* ========================================================================================================================================================= */
/*Projekte*/

.page-hr-projects {
    border-top: 1px solid #00000035;
    margin: 50px 0;
}

.slides.slides-project ~ .flex-direction-nav { /* If the div got the two classes .slides and .slides-project THEN do for the class .flex.direction-nav, display: none; */
     display:  none;
}

.page-position-flexslider-bikes .flexslider {
    margin: 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    margin: 0 5px;
}

.page-position-flexslider-bikes .erfahre-mehr-mobile {
    margin: 0 5px;
}

.flexslider.flexslider-hover {
    -webkit-transition: .3s;
    transition: .3s;
}

.flexslider.flexslider-hover:hover {
    cursor: pointer;
    opacity: .8;
    -webkit-transition: .3s;
    transition: .3s;
}

.flex-caption-projects {
    position: absolute;
    top: 10px;
    left: 10px;
    bottom: 10px;
    width: 50%;
    height: auto;
    padding: 2%;
    background: rgba(0,0,0,.3);
    color: #fff;
    text-shadow: 0 1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    line-height: 18px;
}

.page-overlay-project {
    position: relative;
    top: 150px;
    width: 900px;
    height: auto;
    background-color: white;
    max-width: 100%;
    margin: 0 auto;
}


/* ========================================================================================================================================================= */
/*Close Button, shown when lightbox is opened*/

.site-close-btn-slider { /* Outer div of the Cross */ 
    position: absolute;
    right: 20px;
    top: 20px;
    width: 50px;
    height: 50px;
    -webkit-transition: .3s;
    transition: .3s;
}

.admin-bar .site-close-btn-slider { /* Positioning */
    top: 45px;
}

.site-close-btn-slider:hover {
    opacity: 0.7;
    -webkit-transition: .3s;
    transition: .3s;
    cursor: pointer;
}

.site-close-btn-slider:before, .site-close-btn-slider:after { /* Positioning from the cross */
    position: absolute;
    left: 23px;
    top: 4px;
    content: ' ';
    height: 44px;
    width: 2px;
    background-color: #fff;
}

.site-close-btn-slider:before { /* Angle from the cross */
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
}

.site-close-btn-slider:after { /* Angle from the cross */
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    -webkit-transform-origin: center center;
            transform-origin: center center;
    -webkit-transition: 0.6s;
    transition: 0.6s;
}