/* ========================================================================================================================================================= */
/*Searchbar / Search general*/

.site-search {
  position: absolute;
  top: 16px;
  right: 30px;
}

/*How to align item vertically in the middle (Problem in this case: search button goes under the input bar, but i dont knbow how to fix this...*/
/* .search-wrapper {
        * display: inline-block;
        * position: relative;
        * top: 0px;
        * right: 0px;
        * height: 25%;
        * width: 25%;
        * border-spacing: 20px;
        * vertical-align: middle;
  * }
*/
/*-----------------------------------------------------------------------------------------------------------------------------------*/

#search-submit {
  color: #fff;
  background-color: $primary-color;
  border: none;
  height: 2em;
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#8b0000),
    to(#dc0101)
  );
  background-image: linear-gradient(to right, $primary-color, #dc0101);
}

.search-field {
  border: 1px solid #000;
  height: 2em;
  width: 14rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.search-field:focus,
input:not(:placeholder-shown) {
  border: 1px solid #000;
  height: 2em;
  width: 32rem;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

/* ========================================================================================================================================================= */
/*Home Page*/

.page-text-right {
  display: block;
  float: right;
}

.page-image-left {
  display: block;
  float: left;
}
