/* ========================================================================================================================================================= */
/*Service*/

.page-service-top-image {
  position: relative;
  margin-bottom: 50px;
  width: inherit;
}

h1.page-service-caption-position {
  position: absolute;
  display: inline-block;
  top: 7%;
  right: 0;
  color: #fff;
  text-shadow: 1px 1px #000;
}

.card {
  margin: 0 5px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.card-hover1:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background-color: #5a0000;
}

.card-hover2:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background-color: $primary-color;
}

.card-hover3:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background-color: #9b0000;
}

.card-hover4:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background-color: #a70000;
}

.card-hover5:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #fff;
  background-color: #cf0000;
}

.card-body {
  border: 1px solid rgb(109, 109, 109);
}

.card-group {
  margin-bottom: 50px;
}

@media screen and (max-width: 1199px) {
  .card {
    margin: 0;
  }

  .card-group {
    display: contents;
  }
}

.slide-caption {
  position: relative;
  top: 0;
  right: 0;
}

.flex-caption-service {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 50%;
  height: auto;
  padding: 2%;
  background: rgba(0, 0, 0, 0.35);
  color: #fff;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
  font-size: 14px;
  line-height: 25px;
}

.flex-caption-service li {
  font-size: 1.2em;
  text-shadow: 1px 1px 0 #000;
}

.page-service__content-selector img {
  width: 100%;
  margin-top: 1.5em;
  border-top: 1px solid #00000050;
}

.card-no-margin img {
  margin-top: 0px;
}
