/* ========================================================================================================================================================= */
/*Thumbnails right site*/

.container-instagram,
.container-youtube,
.container-facebook {
  position: fixed; /* Element should be stay in position but moves with scrolling*/
  top: 427px; /* Position from top is n px */
  z-index: 100; /* 300th layer, so nothing is above the thumbnailbox*/
  right: -316px; /* Element should be outside the viewport  */
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out; /* Transition effect occures on :hover and when leaving element */
}

.container-instagram:hover,
.container-youtube:hover,
.container-facebook:hover {
  right: 0px; /* Position of Box is 0px far from the right side */
  -webkit-transition: 0.6s ease-in-out;
  transition: 0.6s ease-in-out; /* Transition effect occures on :hover and when leaving element */
}

.container-instagram {
  top: 428px;
}

.container-youtube {
  top: 469px;
}

.container-facebook {
  top: 510px;
}

a.thumbnail-instagram,
a.thumbnail-youtube,
a.thumbnail-facebook {
  width: 316px; /* Container width */
  padding: 8px 0; /* Box size (space on top and bottom 8px, left and right 0px)*/
  border: 1px solid black; /* Border for the box */
  border-left: none; /* Left no border, because Icon got also an  order and the two borders would be 2px thick */
  background-image: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#8b0000),
    to(#dc0101)
  );
  background-image: linear-gradient(
    to right,
    $primary-color,
    #dc0101
  ); /* Color gradient from the box */
  text-align: center; /* Align text in the center of the box */
  color: #fff; /* Color: white */
  text-decoration: none; /* No default optic at the anchor */
  -webkit-transition: 0.5s;
  transition: 0.5s; /* Colorchange at :hover need 0.5s */
}

a.thumbnail-instagram:hover,
a.thumbnail-youtube:hover,
a.thumbnail-facebook:hover {
  color: #f7cfcf;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.icon-instagram,
.icon-youtube,
.icon-facebook {
  width: 60px;
  border: 1px solid black;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  background-color: #fff;
  z-index: 300;
  -webkit-transition: 1s;
  transition: 1s;
}

.icon-instagram:hover,
.icon-youtube:hover,
.icon-facebook:hover {
  right: 317px;
  -webkit-transition: 1.3s;
  transition: 1.3s;
}

.thumbnail-instagram {
  width: 316px;
  display: inline-block;
}

.thumbnail-youtube {
  width: 316px;
  display: inline-block;
}

.thumbnail-facebook {
  width: 316px;
  display: inline-block;
}

.icon-instagram {
  top: 427px;
  color: #c13584;
  float: left;
  border-top-left-radius: 10px;
}

.icon-youtube {
  top: 468px;
  color: #ff0000;
  float: left;
}

.icon-facebook {
  top: 509px;
  color: #3b5998;
  float: left;
  border-bottom-left-radius: 10px;
}
